@import url("../fonts/glyphicons-halflings-regular.woff2");
@import url("../fonts/fontawesome-5.2.0//");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body{
  padding: 20px;
}


/* p {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

.block {
  width: 100px;
  height: 100px;
  background: blue;
}



.two {
background: red;
}
